Package: com.chr1s.hidedots
Name: HideDots
Version: 1.0.0
Architecture: iphoneos-arm
Description: Hide page dots on iOS 14
Maintainer: Chr1s
Author: Chr1s
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
